@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BlogApp</h1>
    <p class="lead">Your space to share thoughts and ideas.</p>
    <a class="btn btn-primary" asp-controller="Post" asp-action="Index">View Posts</a>
    <a class="btn btn-success" asp-controller="Post" asp-action="Create">Create New Post</a>
</div>
